//FONTS
@import 'fonts.scss';

//LISTS

//Couleurs de fond des menus
$bgColorMenus: (menu01: #FCDFDB, 
                menu02: #FFF5FE, 
                menu03: #F9F9F9, 
                menu04: #FDFFFD);

//VARIABLES

//Décorations
$boxShadow: 0.05rem 0.05rem 1rem #d6d6d6;

//Couleurs
$primaryColor: #579C87;
$secondaryColor: #FDCB46;

//MIXIN BREACKPOINT
@mixin breackpoint ($breackpoint) {
    @media screen and (max-width: $breackpoint) {
        @content;
    }
}

/* GENERAL */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

h1 {
    font-size: 4rem;
    color: $secondaryColor;
    margin: auto;
    font-family: 'Noto Sans JP';
}

h2 {
    text-align: center;
    margin: 4rem 0 2rem 0;
    font-size: 3rem;
    font-family: 'Noto Sans JP';
}

a {
    text-decoration: none;
}

header {
    display: flex;
    height: 11rem;
    background-color: $primaryColor;

    a {
        margin: auto;
    }
}

footer {
    display: flex;
    height: 6rem;
    background-color: $primaryColor;
    justify-content: space-between;
    align-items: center;
    -webkit-position: sticky;
    position: sticky;
    bottom: 0;
    
    a {
        margin: 0 2rem;
        color: $secondaryColor;
        font-size: 2.4rem;
        font-family: 'Noto Sans JP', sans-serif;
        animation-name: wiggle;
        animation-duration: 500ms;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;

        @include breackpoint(460px) {
            font-size: 1.8rem;
        }

        @include breackpoint(350px) {
            font-size: 1.5rem;
        }
    }
}


/* PAGE DE SELECTION DES MENUS */

#gridCSS {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

#selectionMenus {
    display: grid;
    grid-template-rows: 42rem;
    grid-auto-rows: 42rem;
    grid-template-columns: repeat(auto-fit, 30rem);
    grid-gap: 4rem;
    justify-content: center;
    align-content: center;
    margin: 5rem 7rem;

    @include breackpoint(460px) {
        margin: 5rem 1rem;
    }

    @include breackpoint(350px) {
        grid-template-columns: 25rem;
        grid-template-rows: 35rem;
        grid-auto-rows: 35rem;
        grid-gap: 2.5rem;
        margin: 2.5rem 0;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        div {
            text-align: center;
        }
}

//COVER PAGE

@mixin menuCoverPage($menu) {
    background-color: map-get($bgColorMenus, $menu);
    box-shadow: $boxShadow;
    transition-property: opacity;
    transition-duration: 500ms;
}

@mixin menuCoverPage_h2($font, $font-size) {
    font-family: $font, sans-serif;
    margin-bottom: 1.5rem;
    font-weight: lighter;
    font-size: $font-size;
    transition-property: font-size;
    transition-duration: 500ms;
}

@mixin menuCoverPage_h2_color($colorStart, $colorEnd) {
    background: linear-gradient(to bottom right, $colorStart, $colorEnd);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

@mixin menuCoverPage_div($font, $font-size, $color) {
    font-family: $font, sans-serif;
    font-size: $font-size;   
    color: $color;
    transition-property: font-size;
    transition-duration: 500ms;
}

#menuCoverPage01 {
    @include menuCoverPage('menu01');

    img {
        transform: scale(1);
        transition-property: transform;
        transition-duration: 500ms;
    }

    h2 {
        @include menuCoverPage_h2('Devonshire', 2.6rem);
        margin-top: 0;
        color: #3C1218;
    }

    div div {
        @include menuCoverPage_div('Baloo Thambi 2', 3.5rem, #3C1218);
        font-weight: bold;
    }
}

#menuCoverPage02 {
    @include menuCoverPage('menu02');

    h2 {
        @include menuCoverPage_h2('Lobster Two', 2.6rem);
        @include menuCoverPage_h2_color(#C77412, #905BFD);
    }

    div div {
        @include menuCoverPage_div('Source Serif Pro', 3.5rem, #C77412);
        font-weight: bold;
    }
}

#menuCoverPage03 {
    @include menuCoverPage('menu03');

    h2 {
        @include menuCoverPage_h2('Dancing Script', 3rem);
        @include menuCoverPage_h2_color(#0228DD, #229DF9);
    }

    div div {
        @include menuCoverPage_div('Caveat', 4rem, #0887FB);
    }
}

#menuCoverPage04 {
    @include menuCoverPage('menu04');

    h2 {
        @include menuCoverPage_h2('Kaushan Script', 2.6rem);
        @include menuCoverPage_h2_color(#42973C, #BFFF7E);
    }

    div div {
        @include menuCoverPage_div('Caveat', 4rem, #72BF56);
    }
}

//PARTIE AVEC LE BOUTON PROCHAINEMENT

#partSoon {
    height: 11rem;

    @include breackpoint(460px) {
        height: 9.5rem;
    }

    @include breackpoint(350px) {
        height: 7rem;
    }

    #btnSoon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryColor;
    color: $secondaryColor;
    border-radius: 1rem;
    width: 25rem;
    height: 5rem;
    margin: auto;

    @include breackpoint(460px) {
        width: 19rem;
        height: 3.8rem;
    }

        #soon {
            font-size: 2.5rem;
            font-family: 'Noto Sans JP', sans-serif;

            @include breackpoint(460px) {
                font-size: 2rem;
            }
        }

        #dots {
            display: none;
        
            .dot {
                font-size: 8rem;

                @include breackpoint(460px) {
                    font-size: 6rem !important;
                }
            }
        }
    }
}

/* COMMUN A TOUS LES MENUS */

@mixin djm ($display, $justify-content, $margin-bottom) {
    display: $display;
    justify-content: $justify-content;
    margin-bottom: $margin-bottom;
}

#wrapper {
    @include djm(flex, center, 8.6rem);

    @include breackpoint(680px) {
        margin-bottom: 4.3rem;
    }
}

.titleDescriptionMenu, .rowMenu {
    @include djm(flex, space-between, 3rem);
}

#mainTitleMenu {
    text-align: center;
    margin-bottom: 4rem;
}

.descritptionMenu {
    display: flex;
    flex-direction: column;
}

/* MENU LA NOTE ENCHANTEE */

#carteMenu01 {
    background-color: map-get($bgColorMenus, menu01);
    box-shadow: $boxShadow;
    font-family: 'Kalam', sans-serif;
    width: 85%;
    max-width: 90rem;
    padding : 7rem;

    @include breackpoint(880px) {
        width: 90%;
    }

    @include breackpoint(680px) {
        padding: 7rem 3rem;
    }

    .titleDescriptionMenu {
        img {
            width: 33%;
            height: 1.5rem;
            align-self: center;

            @include breackpoint(940px) {
                width: 30%;
            }

            @include breackpoint(760px) {
                width: 25%;
            }

            @include breackpoint(680px) {
                display: none;
            }
        }
    }

    .descritptionMenu {
        margin-bottom: 6rem;
    }

    h3 {
        font-size: 5rem;
        font-family: 'Devonshire', sans-serif;
        font-weight: lighter;
    }

    h4 {
        font-size: 3rem;

        @include breackpoint(680px) {
            margin: auto;
        }
    }

    p {
        font-size: 2rem;
    }

    .rowMenu {
        @include breackpoint(805px) {
            flex-direction: column;
        }

        div {
            font-size: 2rem;
            @include breackpoint(805px) {
                text-align: center;
            }
        }
    }
}

#footerMenu01 {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        font-size: 3.5rem;
        font-family: 'Devonshire', sans-serif;
    }
}

/* MENU LE CHIC A LA FRANCAISE */

#carteMenu02 {
    background-color: map-get($bgColorMenus, menu02);
    box-shadow: $boxShadow;
    font-family: 'Crimson Text', sans-serif;
    width: 85%;
    max-width: 90rem;
    padding : 12rem 2rem 14rem 2rem;

    @include breackpoint(830px) {
        width: 90%;
    }

    .titleDescriptionMenu {
        img {
            width: 33%;
            height: 1.5rem;
            align-self: center;

            @include breackpoint(945px) {
                width: 30%;
            }

            @include breackpoint(745px) {
                width: 25%;
            }

            @include breackpoint(715px) {
                display: none;
            }
        }
    }

    .descritptionMenu {
        margin: 0 8rem 6rem 8rem;

        @include breackpoint(805px) {
            margin: 0 1rem 6rem 1rem;
        }
    }

    #appetizer {
        color: #C67412;

        .descritptionMenu {
            @include breackpoint(715px) {
                border-bottom: 0.1rem dashed #C67412;
            }
        }
    }

    #mainMeal {
        color: #A56799;

        .descritptionMenu {
            @include breackpoint(715px) {
                border-bottom: 0.1rem dashed #A56799;
            }
        }
    }

    #dessert {
        color: #6E4CCC;
    }

    h3 {
        font-size: 3.5rem;
        font-family: 'Kurale', sans-serif;
        margin-bottom: 9rem;
        background: linear-gradient(45deg, #C77412 30%, #905BFD 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h4 {
        font-size: 2.5rem;

        @include breackpoint(715px) {
            margin: auto;
        }
    }

    p {
        font-size: 2rem;
    }

    .rowMenu {
        @include breackpoint(715px) {
            flex-direction: column;
            text-align: center;
        }

        div {
            font-size: 2rem;
        }
    }
}

/* MENU LE DELICE DES PAPILLES */

#carteMenu03 {
    background-color: map-get($bgColorMenus, menu03);
    box-shadow: $boxShadow;
    font-family: 'Caveat', sans-serif;
    width: 85%;
    max-width: 90rem;
    padding : 12rem 2rem 14rem 2rem;

    @include breackpoint(830px) {
        width: 90%;
    }

    .titleDescriptionMenu {
        img {
            width: 33%;
            height: 1.5rem;
            align-self: center;

            @include breackpoint(945px) {
                width: 30%;
            }

            @include breackpoint(745px) {
                width: 25%;
            }

            @include breackpoint(715px) {
                display: none;
            }
        }
    }

    .descritptionMenu {
        margin: 0 8rem 6rem 8rem;

        @include breackpoint(805px) {
            margin: 0 1rem 6rem 1rem;
        }
    }

    h3 {
        font-size: 5rem;
        font-family: 'Dancing Script', sans-serif;
        margin-bottom: 9rem;
        background: linear-gradient(45deg, #0228DD 30%, #229DF9 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include breackpoint(490px) {
            font-size: 4rem;
        }
    }

    h4 {
        font-size: 2.5rem;
        font-weight: lighter;

        @include breackpoint(715px) {
            margin: auto;
        }
    }

    #appetizer {
        h4 {
            &::after {
                border-bottom: 0.3rem solid  #0228DD;
            }
        }

        .descritptionMenu {
            @include breackpoint(715px) {
                border-bottom: 0.1rem dashed #0228DD;
            }
        }
    }

    #mainMeal {
        h4 {
            &::after {
                border-bottom: 0.3rem solid #0670F3;
            }
        }

        .descritptionMenu {
            @include breackpoint(715px) {
                border-bottom: 0.1rem dashed #229DF9;
            }
        }
    }

    #desert {
        h4 {
            &::after {
                border-bottom: 0.3rem solid #229DF9;
            }
        }
    }

    p {
        font-size: 2rem;
    }

    .rowMenu {
        @include breackpoint(715px) {
            flex-direction: column;
            text-align: center;
        }

        div {
            font-size: 2rem;
            font-weight: bold;
        }
    }
}

/* MENU LA PALETTE DU GOUT */

#carteMenu04 {
    background-color: map-get($bgColorMenus, menu03);
    box-shadow: $boxShadow;
    font-family: 'Caveat', sans-serif;
    width: 85%;
    max-width: 90rem;
    padding : 12rem 2rem 14rem 2rem;

    @include breackpoint(830px) {
        width: 90%;
    }

    .titleDescriptionMenu {
        img {
            width: 33%;
            height: 1.5rem;
            align-self: center;

            @include breackpoint(945px) {
                width: 30%;
            }
    
            @include breackpoint(745px) {
                width: 25%;
            }
    
            @include breackpoint(715px) {
                display: none;
            }
        }  
    }

    .descritptionMenu {
        margin: 0 8rem 6rem 8rem;

        @include breackpoint(805px) {
            margin: 0 1rem 6rem 1rem;
        }
    }

    #appetizer {
        .descritptionMenu {
            @include breackpoint(715px) {
                border-bottom: 0.1rem dashed #42973C;
            }
        }
    }

    #mainMeal {
        .descritptionMenu {
            @include breackpoint(715px) {
                border-bottom: 1px dashed #BFFF7E;
            }
        }
    }

    h3 {
        font-size: 6rem;
        font-family: 'Kaushan Script', sans-serif;
        font-weight: lighter;
        margin-bottom: 9rem;
        background: linear-gradient(45deg, #42973C 30%, #BFFF7E 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include breackpoint(490px) {
            font-size: 4rem;
        }
    }

    h4 {
        font-size: 2.5rem;
        font-weight: lighter;

        @include breackpoint(715px) {
            margin: auto;
        }

        &::after {
            border-bottom: solid 0.3rem #BFFF7E;
        }
    }

    p {
        font-size: 2rem;
    }

    .rowMenu {
        @include breackpoint(715px) {
            flex-direction: column;
            text-align: center;
        }

        div {
            font-size: 2rem;
            font-weight: bold;
        }
    }
}

/* PAGE MENTIONS LEGALES */

#legalMentions {
    max-width: 125rem;
    margin: 0 auto;
    padding: 0 2.5rem;

    h2 {
        margin-bottom: 5rem;

        @include breackpoint(300px) {
            font-size: 2rem;
            margin-bottom: 3rem;
        }
    }

    p {
        margin-bottom: 2.5rem;

        @include breackpoint(300px) {
            text-align: justify;
        }
    }
}

/* ANIMATIONS */

// ZOOM + OPACITE

@mixin zoom($font-size_h2, $font-size_div) {
    opacity: 0.8;

    h2 {
        font-size: $font-size_h2;
    }

    div {
        font-size: $font-size_div;
    }
}

#menuCoverPage01:hover {
    img {
        transform: scale(1.3);
    }

    @include zoom(3.1rem, 4rem);
}

#menuCoverPage02:hover {
    @include zoom(3.1rem, 4rem);
}

#menuCoverPage03:hover {
    @include zoom(3.5rem, 5rem);
}

#menuCoverPage04:hover {
    @include zoom(3.1rem, 5rem);
}

// EFFET WIGGLE

@keyframes wiggle {
    0% {transform: translateX(0.5rem);}
    25% {transform: translateX(-0.5rem);}
    50% {transform: translateX(0rem);}
    100% {transform: translateX(0rem);}
}

// SOULIGNEMENT DES TITRES

h4 {
    &::after {
        content: '';
        display: block;
        border-bottom: 0.3rem solid ;
        transform: scaleX(0);
        transform-origin: 0rem;
        transition: transform 1s;
    }

    &:hover::after {
        transform: scaleX(1);
    }
}

// EFFET BOUNCE

#partSoon {
    #btnSoon:hover {
        #soon {
            display: none;
        }

        #dots {
            display: inline-flex;
            transform: translateY(-1.2rem);
        }

        .dot_01{
            animation: bounce 350ms infinite alternate; 
        } 

        .dot_02{
            animation: bounce 350ms infinite alternate;
            animation-delay: 116ms; 
        } 

        .dot_03{
            animation: bounce 350ms infinite alternate;
            animation-delay: 233ms; 
        } 
    }
}

@keyframes bounce {
    from {transform: translateY(0);}
    to {transform: translateY(-1.8rem);}
}

@media screen and (max-width: 460px) {
    @keyframes bounce {
        from {transform: translateY(0);}
        to {transform: translateY(-1rem);}
    }
}