//FONTS

@mixin googleFonts($font) {
    @import url('https://fonts.googleapis.com/css?family=#{$font}&display=swap');
}

$fontsList: 'Noto Sans JP',
            'Devonshire',
            'Baloo Thambi 2',
            'Lobster Two',
            'Source Serif Pro',
            'Dancing Script',
            'Caveat',
            'Kaushan Script',
            'Kalam',
            'Kurale',
            'Crimson Text';

@each $font in $fontsList {
    @include googleFonts($font);
}

//LISTS

//Couleurs de fond des menus
$bgColorMenus: (menu01: #FCDFDB, 
                menu02: #FFF5FE, 
                menu03: #F9F9F9, 
                menu04: #FDFFFD);

//VARIABLES

//Décorations
$boxShadow: 0.05rem 0.05rem 1rem #d6d6d6;

//Couleurs
$primaryColor: #579C87;
$secondaryColor: #FDCB46;


/* GENERAL */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

h1 {
    font-size: 4rem;
    color: $secondaryColor;
    margin: auto;
    font-family: 'Noto Sans JP';
}

h2 {
    text-align: center;
    margin: 4rem 0 2rem 0;
    font-size: 3rem;
    font-family: 'Noto Sans JP';
}

a {
    text-decoration: none;
}

header {
    display: flex;
    height: 11rem;
    background-color: $primaryColor;

    a {
        margin: auto;
    }
}

footer {
    display: flex;
    height: 6rem;
    background-color: $primaryColor;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 0;
    
    a {
        margin: 0 2rem;
        color: $secondaryColor;
        font-size: 2.4rem;
        font-family: 'Noto Sans JP', sans-serif;
    }
}


/* PAGE DE SELECTION DES MENUS */

#gridMainPage {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

#selectionMenus {
    display: grid;
    grid-template-rows: 42rem;
    grid-auto-rows: 42rem;
    grid-template-columns: repeat(auto-fit, 30rem);
    grid-gap: 4rem;
    justify-content: center;
    align-content: center;
    margin: 5rem 7rem;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        div {
            text-align: center;
        }
}

@media screen and (max-width: 460px) {
    #selectionMenus {
        margin: 5rem 1rem;
    }
    
    footer {
        a {
            font-size: 1.8rem;
        }
    }
}

@media screen and (max-width: 350px) {
    #selectionMenus {
        grid-template-columns: 25rem;
        grid-template-rows: 35rem;
        grid-auto-rows: 35rem;
        grid-gap: 2.5rem;
        margin: 2.5rem 0;
    }

    footer {
        a {
            font-size: 1.5rem;
        }
    }
}

#menuCoverPage01 {
    background-color: map-get($bgColorMenus, menu01);
    box-shadow: $boxShadow;

    h2 {
        font-family: 'Devonshire', sans-serif;
        margin-top: 0;
        margin-bottom: 1.5rem;
        font-weight: lighter;
        font-size: 2.6rem;
        color: #3C1218;
    }

    div div {
        font-family: 'Baloo Thambi 2', sans-serif;
        font-size: 3.5rem;
        font-weight: bold;
        color: #3C1218;
    }
}

#menuCoverPage02 {
    background-color: map-get($bgColorMenus, menu02);
    box-shadow: $boxShadow;

    h2 {
        font-family: 'Lobster Two', sans-serif;
        margin-bottom: 1.5rem;
        font-weight: lighter;
        font-size: 2.6rem;
        background: linear-gradient(to bottom right, #C77412, #905BFD);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    div div {
        font-family: 'Source Serif Pro', sans-serif;
        font-size: 3.5rem;
        font-weight: bold;
        color: #C77412;
    }
}

#menuCoverPage03 {
    background-color: map-get($bgColorMenus, menu03);
    box-shadow: $boxShadow;

    h2 {
        font-family: 'Dancing Script', sans-serif;
        margin-bottom: 1.5rem;
        font-weight: lighter;
        font-size: 3rem;
        background: linear-gradient(to bottom right, #0228DD, #229DF9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    div div {
        font-family: 'Caveat', sans-serif;
        font-size: 4rem;
        color: #0887FB;
    }
}

#menuCoverPage04 {
    background-color: map-get($bgColorMenus, menu04);
    box-shadow: $boxShadow;

    h2 {
        font-family: 'Kaushan Script', sans-serif;
        margin-bottom: 1.5rem;
        font-weight: lighter;
        font-size: 2.6rem;
        background: linear-gradient(to bottom right, #42973C, #BFFF7E);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }

    div div {
        font-family: 'Caveat', sans-serif;
        font-size: 4rem;
        color: #72BF56;
    }
}

#soon {
    height: 11rem;

    div {
    background-color: $primaryColor;
    color: $secondaryColor;
    border-radius: 1rem;
    font-size: 2.8rem;
    width: 25rem;
    padding: 1rem 0;
    margin: auto;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    }
}

@media screen and (max-width: 460px) {
    #soon {
        height: 9.5rem;
    
        div {
        font-size: 2rem;
        width: 19rem;
        }
    }
}

@media screen and (max-width: 350px) {
    #soon {
        height: 7rem;
    }
}


/* COMMUN A TOUS LES MENUS */

#wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 8.6rem;
}

#mainTitleMenu {
    text-align: center;
    margin-bottom: 4rem;
}

.titleDescriptionMenu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.descritptionMenu {
    display: flex;
    flex-direction: column;
}

.rowMenu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}


/* MENU LA NOTE ENCHANTEE */

#carteMenu01 {
    background-color: map-get($bgColorMenus, menu01);
    box-shadow: $boxShadow;
    font-family: 'Kalam', sans-serif;
    width: 85%;
    max-width: 90rem;
    padding : 7rem;

    .titleDescriptionMenu {
        img {
            width: 33%;
            height: 1.5rem;
            align-self: center;
        }
    }

    .descritptionMenu {
        margin-bottom: 6rem;
    }

    h3 {
        font-size: 5rem;
        font-family: 'Devonshire', sans-serif;
        font-weight: lighter;
    }

    h4 {
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
    }

    .rowMenu {
        div {
            font-size: 2rem;
        }
    }
}

#footerMenu01 {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        font-size: 3.5rem;
        font-family: 'Devonshire', sans-serif;
    }
}

@media screen and (max-width: 940px) {
    #carteMenu01 {
        .titleDescriptionMenu {
            img {
                width: 30%;
            }
        }
    }
}

@media screen and (max-width: 880px) {
    #carteMenu01 {
        width: 90%;
    }
}

@media screen and (max-width: 805px) {
    #carteMenu01 {
        .rowMenu {
            flex-direction: column;
    
            div {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 760px) {
    #carteMenu01 {
        .titleDescriptionMenu {
            img {
                width: 25%;
            } 
        }
    }  
}

@media screen and (max-width: 680px) {
    #carteMenu01 {
        padding: 7rem 3rem;

        .titleDescriptionMenu {
            img {
                display: none;
            }

            h4 {
                margin: auto;;
            }
        }
    }
}


/* MENU LE CHIC A LA FRANCAISE */

#carteMenu02 {
    background-color: map-get($bgColorMenus, menu02);
    box-shadow: $boxShadow;
    font-family: 'Crimson Text', sans-serif;
    width: 85%;
    max-width: 90rem;
    padding : 12rem 2rem 14rem 2rem;

    .titleDescriptionMenu {
        img {
            width: 33%;
            height: 1.5rem;
            align-self: center;
        }
    }

    .descritptionMenu {
        margin: 0 8rem 6rem 8rem;
    }

    #appetizer {
        color: #C67412;
    }

    #mainMeal {
        color: #A56799;
    }

    #dessert {
        color: #6E4CCC;
    }

    h3 {
        font-size: 3.5rem;
        font-family: 'Kurale', sans-serif;
        margin-bottom: 9rem;
        background: linear-gradient(45deg, #C77412 30%, #905BFD 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h4 {
        font-size: 2.5rem;
    }

    p {
        font-size: 2rem;
    }

    .rowMenu {
        div {
            font-size: 2rem;
        }
    }
}

@media screen and (max-width: 945px) {
    #carteMenu02 {
        .titleDescriptionMenu {
            img {
                width: 30%;
            }
        }
    }
}

@media screen and (max-width: 830px) {
    #carteMenu02 {
        width: 90%;
    }  
}

@media screen and (max-width: 805px) {
    #carteMenu02 {
        .descritptionMenu {
            margin: 0 1rem 6rem 1rem;
        }
    }
}

@media screen and (max-width: 745px) {
    #carteMenu02 {
        .titleDescriptionMenu {
            img {
                width: 25%;
            }
        }
    }
}

@media screen and (max-width: 715px) {
    #carteMenu02 {
        .titleDescriptionMenu {
            img {
                display: none;
            }

            h4 {
                margin: auto;;
            }
        }

        .rowMenu {
            flex-direction: column;
            text-align: center;
        }

        #appetizer {
            .descritptionMenu {
                border-bottom: 1px dashed #C67412;
            }
        }

        #mainMeal {
            .descritptionMenu {
                border-bottom: 1px dashed #A56799;
            }
        }
    }
}


/* MENU LE DELICE DES PAPILLES */

#carteMenu03 {
    background-color: map-get($bgColorMenus, menu03);
    box-shadow: $boxShadow;
    font-family: 'Caveat', sans-serif;
    width: 85%;
    max-width: 90rem;
    padding : 12rem 2rem 14rem 2rem;

    .titleDescriptionMenu {
        img {
            width: 33%;
            height: 1.5rem;
            align-self: center;
        }
    }

    .descritptionMenu {
        margin: 0 8rem 6rem 8rem;
    }

    h3 {
        font-size: 5rem;
        font-family: 'Dancing Script', sans-serif;
        margin-bottom: 9rem;
        background: linear-gradient(45deg, #0228DD 30%, #229DF9 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h4 {
        font-size: 2.5rem;
        font-weight: lighter;
    }

    p {
        font-size: 2rem;
    }

    .rowMenu {
        div {
            font-size: 2rem;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 945px) {
    #carteMenu03 {
        .titleDescriptionMenu {
            img {
                width: 30%;
            }
        }
    }
}

@media screen and (max-width: 830px) {
    #carteMenu03 {
        width: 90%;
    }  
}

@media screen and (max-width: 805px) {
    #carteMenu03 {
        .descritptionMenu {
            margin: 0 1rem 6rem 1rem;
        }
    }
}

@media screen and (max-width: 745px) {
    #carteMenu03 {
        .titleDescriptionMenu {
            img {
                width: 25%;
            }
        }
    }
}

@media screen and (max-width: 715px) {
    #carteMenu03 {
        .titleDescriptionMenu {
            img {
                display: none;
            }

            h4 {
                margin: auto;;
            }
        }

        .rowMenu {
            flex-direction: column;
            text-align: center;
        }

        #appetizer {
            .descritptionMenu {
                border-bottom: 1px dashed #0228DD;
            }
        }

        #mainMeal {
            .descritptionMenu {
                border-bottom: 1px dashed #229DF9;
            }
        }
    }
}

@media screen and (max-width: 490px) {
    #carteMenu03 {
        h3 {
            font-size: 4rem;
        }
    }
}


/* MENU LA PALETTE DU GOUT */

#carteMenu04 {
    background-color: map-get($bgColorMenus, menu03);
    box-shadow: $boxShadow;
    font-family: 'Caveat', sans-serif;
    width: 85%;
    max-width: 90rem;
    padding : 12rem 2rem 14rem 2rem;

    .titleDescriptionMenu {
        img {
            width: 33%;
            height: 1.5rem;
            align-self: center;
        }
    }

    .descritptionMenu {
        margin: 0 8rem 6rem 8rem;
    }

    h3 {
        font-size: 6rem;
        font-family: 'Kaushan Script', sans-serif;
        font-weight: lighter;
        margin-bottom: 9rem;
        background: linear-gradient(45deg, #42973C 30%, #BFFF7E 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h4 {
        font-size: 2.5rem;
        font-weight: lighter;
    }

    p {
        font-size: 2rem;
    }

    .rowMenu {
        div {
            font-size: 2rem;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 945px) {
    #carteMenu04 {
        .titleDescriptionMenu {
            img {
                width: 30%;
            }
        }
    }
}

@media screen and (max-width: 830px) {
    #carteMenu04 {
        width: 90%;
    }  
}

@media screen and (max-width: 805px) {
    #carteMenu04 {
        .descritptionMenu {
            margin: 0 1rem 6rem 1rem;
        }
    }
}

@media screen and (max-width: 745px) {
    #carteMenu04 {
        .titleDescriptionMenu {
            img {
                width: 25%;
            }
        }
    }
}

@media screen and (max-width: 715px) {
    #carteMenu04 {
        .titleDescriptionMenu {
            img {
                display: none;
            }

            h4 {
                margin: auto;;
            }
        }

        .rowMenu {
            flex-direction: column;
            text-align: center;
        }

        #appetizer {
            .descritptionMenu {
                border-bottom: 1px dashed #42973C;
            }
        }

        #mainMeal {
            .descritptionMenu {
                border-bottom: 1px dashed #BFFF7E;
            }
        }
    }
}

@media screen and (max-width: 490px) {
    #carteMenu04 {
        h3 {
            font-size: 4rem;
        }
    }
}


/*MEDIA QUERIES GENERAUX */

@media screen and (max-width: 680px) {
    #wrapper {
        margin-bottom: 4.3rem;
    }
}